<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="accBean" class="com.spring.beans.Account" 
        
       	p:accNo="abc422"
       	p:accName="Laukesh Kumar"      	
       	/>
         <bean id="empBean" class="com.spring.beans.Employee" 
         
         p:eId="l-232"
         p:eName="Laukesh Kumar"
         p:acc-ref="accBean"
         
        />
</beans>